<mat-toolbar>
<span>


    <a routerLink="" mat-button>
<mat-icon>local_movies</mat-icon> Peliculas
    </a>
</span>

<div>
    <a mat-button routerLink="generos">
<mat-icon>theaters</mat-icon>
Generos</a>
</div>



<div>
    <a mat-button routerLink="actores">
<mat-icon>groups</mat-icon> 
Actores</a>
</div>

<div>
    <a mat-button routerLink="cines">
<mat-icon>movie</mat-icon> 
Cines</a>
</div>



<div>
    <a mat-button routerLink="peliculas/crear">
<mat-icon>playlist_add</mat-icon> 
Crear Pelicula</a>
</div>
</mat-toolbar>



