<!-- <p>Hola mundo</p>



<p>{{title}}</p>


<p>{{nombre}} {{apellido}} tiene {{edad}}</p>


<p>doble de 3 {{duplicarNumero(3)}}</p> -->


<!-- ----------------- -->


<!-- <h2>Datos pelicula</h2>

<p>Pelicula : {{pelicula.titulo | uppercase}}</p>

<p>Pelicula : {{pelicula.titulo | lowercase}}</p>

<p>Precio : {{pelicula.precio | currency}}</p>



<p>Fecha lanzammiento : {{pelicula.fechaLanzamiento | date:"dd-MMMM-yyyy"}}</p> -->



<!-- 
----------------  CON ngFor-->




<!-- <h2>Datos pelicula</h2>


<div *ngFor="let pelicula of peliculas let index = index" class="divPeliculas">

<p class="titulo">{{index}})Pelicula : {{pelicula.titulo | uppercase}}</p>

<p>Precio : {{pelicula.precio | currency}}</p>



<p>Fecha lanzammiento : {{pelicula.fechaLanzamiento | date:"dd-MMMM-yyyy"}}</p> 
</div> -->




<!-- -----------IF-ELSE------------ -->






<!-- <h4>Modernidad con For</h4> -->


<!--IF NORMAL SIN EL NG-->

<!-- @if(!peliculas){
    <img src="loading.gif">
} @else if (peliculas.length === 0) {

<div>
<p>No hay elementos para mostrar</p>

</div>

}  @else{

    @for (p of peliculas; track $index) {


        <div class="contenedor-peliculas">
            <div style="display: flex; flex-direction: row; gap: 10px;">
                <div>
        
        
                    <img [ngSrc]="p.poster" [priority] = "$index === 0" width="169" height="250">
                </div>
        
                <div>
                    <p class="titulo">{{$index}})Pelicula : {{p.titulo | uppercase}}</p>
                    <p>Precio : {{p.precio | currency}}</p>
                    <p>Fecha lanzammiento : {{p.fechaLanzamiento | date:"dd-MMMM-yyyy"}}</p>
                </div>
            </div>
        
        </div>
        
        }
} -->

<!--------------------NG IF------------------------>


<!-- <div *ngIf="!peliculas">

    <img src="https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExZ2M4ZjNnbTNtdnp5anUwZjE3MTczZDF3M280ZzRkODZtd2R6Z245ZSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/2c85mEsTFONgM0sOQ/giphy.gif" />
</div>
 -->

<!-- // <div *ngIf="peliculas?.length === 0">
// <p>No hay elementos para mostrar</p>

// </div>


<div *ngIf="peliculas && peliculas.length > 0">


@for (p of peliculas; track $index) {


<div class="contenedor-peliculas">
    <div style="display: flex; flex-direction: row; gap: 10px;">
        <div>


            <img [ngSrc]="p.poster" [priority] = "$index === 0" width="169" height="250">
        </div>

        <div>
            <p class="titulo">{{$index}})Pelicula : {{p.titulo | uppercase}}</p>
            <p>Precio : {{p.precio | currency}}</p>
            <p>Fecha lanzammiento : {{p.fechaLanzamiento | date:"dd-MMMM-yyyy"}}</p>
        </div>
    </div>

</div>

}

</div> -->


<!--------------------------------------- -->



<!-- Cargador de archivos -->

<!-- <input type="file" style="display: none;" #cargador>

<button (click)="cargador.click()">Cargar</button> -->







<app-menu></app-menu>


<div class="contenedor">

   
   <router-outlet> 

   </router-outlet>
    
</div>


